/* Bulma CSS: https://bulma.io/*/
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

main {
  width: 1366px;
  margin: 0 auto;
  padding: 2rem 0;
  max-width: 90%;
}

ul {
  max-height: 60vh;
  overflow-y: auto;
}

:root {
  --dark-purple: #271f30;
  --umber: #6c5a49;
  --tea-green: #d0fcb3;
  --celadon: #9bc59d;
  --gold: #c8ad55;

  --white: #fff;
  --black: #000;
  --grey: #f5f5f5;
}
